#!/bin/bash
docker build -t bubba .
docker rm -f bubba
docker run \
  --name="bubba" \
  --publish=4567:4567 \
  --env pushover_app_key='bK2YEgZay8ThNGMUm57aQmNnYfx2y3' \
  --env pushover_user_key='CeRe3B7Gt75uTUJVvBfD8JZKSteafz' \
  --env wunderground_key='5335cf7b87ef8286' \
  --env hikvision_username='admin' \
  --env hikvision_password='password' \
  --restart="always" \
  --detach=true \
  bubba
